<div class="row">
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
       <img class="img-responsive" style="width:100%"  src={{item.image}} alt="First slide">
      <div class="card-body">
        <h4 class="card-title">
          <a [routerLink]="[item.id]" >{{item.itemName}} </a>
        </h4>
        <h5>{{item.itemValue}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>